{% extends 'base.html' %}

{% block title %}Heritage List - World Heritage Data System{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'sites/css/list_page.css' %}">
{% endblock %}

{% block content %}
<div class="list-layout">
    {# Left Sidebar - Using Component #}
    {% include 'sites/components/sidebar_filters.html' %}

    {# Main Content #}
    <main class="main-content">
        <div class="content-header">
            <i class="bi bi-table"></i> Heritage List
        </div>

        {# Heritage Table - Using Component #}
        {% include 'sites/components/heritage_table.html' %}

        {# Pagination - Using Component #}
        {% include 'sites/components/pagination.html' %}
    </main>
</div>
{% endblock %}

{% block extra_js %}
{% load static %}
<script src="{% static 'sites/js/crawl_control.js' %}?v=13"></script>
{% endblock %}